@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body{
  background: hsl(216, 12%, 8%);
  font-family: 'Overpass', sans-serif;
  font-size: 'Overpass', 15px;
  margin-left: 0;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    
    align-items: center;
    justify-content: center;  
   
    

    
} 

@media screen and (min-width: 375px){
.card{
    
  /* background-color: hsl(213, 19%, 18%);   */
  background: radial-gradient(98.96% 98.96% at 50% 0, #232a34 0, #181e27 100%);
  padding: 3em 2em;
  width: 24em;
  border-radius: 8%;
  
    
}

}
@media screen and (max-width: 375px) {
  .card {

    background-color: hsl(213, 19%, 18%);
    padding: 2em;
    width: 18em;
    border-radius: 4%;


  }

}
.star-photo-container{
  background-color: hsl(218, 9%, 23%);
  padding: 0.7em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  margin-bottom: 0em;
  
}
.thank-photo-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
  display: flex;
  justify-content: center;
}

.evaluation-info-btn{
  
  background-color: hsl(218, 9%, 23%);
  color: hsl(25, 97%, 53%);
  border: none;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  padding:7px 17px;
  border-radius: 3em;
  margin-left: 6px;
  display: flex;
}

.evaluation-info{
  margin-top: 2em;
  display: flex;
  justify-content: center;
}


.thank-you-header{
  margin-top: 1.3em;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  margin-bottom: 0em;
  
  font-size: 30px;
}


.rating-header {
  margin-top: 1.3em;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin-bottom: 0em;
}

.text{
  margin-top: 0.85em;
  font-weight: 400;
  color: hsl(217, 12%, 63%);
  margin-bottom: 2em;
  line-height: 1.5;
}

.evaluation{
  display: flex;
  margin-top: 0em;
  font-weight: 400;
  color: hsl(217, 12%, 63%);
  margin: 0 -1em;
  padding: 0 -1em;
  
}

.evaluation-con{
  
  margin: 0 1em;
  background-color: hsl(218, 9%, 23%);
  
  border-radius: 50%;
  border: none;
  width: 4em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0em;
  font-weight: 400;
  color: hsl(217, 12%, 63%);

  
}
.evaluation-con:hover{
  background-color: hsl(25, 97%, 53%);
  cursor: pointer;
  color: hsl(0, 0%, 100%);;

}

.evaluation-con-clicked {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);


}

.evaluation-number{
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  
}

.submit{
  margin-top: 2em;
  width: 100%;
  padding: 1em;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-family: 'Overpass', sans-serif;
  background-color: hsl(25, 97%, 53%);
  border-radius: 6em;
  border: none;
  color: hsl(0, 0%, 100%);
}
.submit:hover{
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.thank-description{
  text-align: center;
  line-height: 1.5;
}
.paragraph1 {
  margin-top: 0;
  margin-bottom: 0em;

}
.paragraph2{
  margin-top: 0em;
  padding: 0em 1em;
  margin-bottom: 0em;
}

